@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
padding:0px;
margin:0px;
}

body, html{
font-family: sans-serif;
background:#fof3fa;
}

h1,h3,u{
background: linear-gradient(90deg,#000,#0000FF);
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
}

.width-100{
width:100%;
float:left;
}

.container{
width:1500px;
margin: 0px auto;
}

.top-header{
background: #145DA0;
padding: 5px 0px;
}

.news-list{
background:#EF7215;
color:white;
padding:7.4px;
font-size:20px;
width:80%;
}

.headquote{
font-size:18px;
color: #fff;
width:80%;
}

.header-menu{
position:relative;
box-shadow: 0px 2px 5px 0px #00000036;
}

.logo{
width:fit-content;
float:left;
padding: 10px 40px 10px 10px;
}

.logo1{
width:fit-content;
float:right;
padding: 1px 10px 1px 15px;
}

.main-menu{
list-style:none;
float:left;
margin-top:20px;
}

.main-menu a{
font-weight:500;
color:#A9A9A9;
font-size:15px;
text-decoration:none;
}

.main-menu li{
float:left;
padding: 14px 10px 10px 10px;
}

pre{
font-family: sans-serif;
}

.banner1 .img{
width:100%;
position:absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}

.margin-top-50{
margin-top:50px;
}

.width-33{
width:100%;
text-align:center;
}

.main-section{
background-color:  #f0f8ff;
}

.heading-section{
font-size: 50px;
text-align: center;
color: #145DA0;
}

.heading-section span{
color: #EF7215;
}

.why-list{
width: 100%;
float: left;
padding: 0px;
list-style: none;
background-color: #f0f8ff;
}

.why-list li{
width: 30%;
float: left;
padding: 20px 2px;
list-style: none;
text-align: center;
border-radius: 10px;
}

.why-list p{
color: #808080;
font-size: 15px;
margin-top:10px;
}

li,a,button{
text-decoration:none;
}

header{
display: flex;
padding: 2px 1px;
color: #fff;
}

.nav_links{
list-style: none;
}

.nav_links li{
display: inline-block;
padding: 8px 56px;
}

.nav_links li a{
transition: all 0.3s ease 0s;
color: #fff;
}

.blue{
background: #145DA0;
}

.orange{
background-color:#EF7215;
}

.gallery-head-style{
font-size:28px;
color: #003D82;
margin-bottom: 10px;
background: #fff;
padding: 2px  0px;
text-align: center;
}

.width-25{
width:25%;
float:left;
}

.gallery-img{
height: 250px;
width: auto;
}

.recruiter-marquee img{
height: 300px;
width: auto;
}

.video a{
width:100%;
font-weight:500;
color:#A9A9A9;
font-size:20px;
text-decoration:none;
text-align: center;
padding: 8px;
margin-top:30px;
}

.container1{
background: #145DA0;
color: #fff;
}

.container1>div>ul{
    list-style-type: none;
    text-align: center;
}
.container1>div>ul>li{
    margin: 16px 0;
    cursor: pointer;
    color: #fff;
}
.container1>div>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 0;
    padding: 2px;
    color: #00abb3;
    transition: all 0.4s;
}

.container1>div>ul>li>a>pre{
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 0;
    padding: 2px;
    color: #00abb3;
    transition: all 0.4s;
}

.container1>div>ul>li>a:hover{
    left: 8px;
}

.container1 h2{
 text-align: center;
}

.container1>div>ul>li>a::selection{
    background-color: #EF7215;
    color: #000;
}
.container1>div>form{
    background-color: #35858b;
    margin: 20px 0 10px;
    padding: 6px 14px;
    border-radius: 7px;
    width: 100%;
}
.container1>div>form>input{
    border: none;
    outline: none;
    font-size: 20px;
    width: 270px;
    background-color: transparent;
    color: #fff;
     text-align: center;
}

.container1>div>form>button{
    padding: 14px 26px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #EF7215;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.div1>button{
    padding: 14px 26px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #EF7215;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
     margin-left:80%;   
}




